h1,
p {
  font-family: "Montserrat", sans-serif;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
}

.station-table th {
  color: black;
  background-color: aqua;
}

th:hover {
  cursor: pointer;
  text-decoration: underline;
}

.station-table {
  width: 100%;
  text-align: center;
}

.filter-btn {
  cursor: pointer;
  background-color: aqua;
  border: 0px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  width: 110px;
  height: 25px;
}

.filter-btn:hover {
  color: grey;
}

.container {
  display: flex;
  width: 50%;
}
